@page
@model FoodTracker_APP.Pages.MyMeals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meal.Id" />
            <div class="form-group">
                <label asp-for="Meal.Name" class="control-label"></label>
                <input asp-for="Meal.Name" class="form-control" />
                <span asp-validation-for="Meal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.StartMeal" class="control-label"></label>
                <input asp-for="Meal.StartMeal" class="form-control" />
                <span asp-validation-for="Meal.StartMeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.EndMeal" class="control-label"></label>
                <input asp-for="Meal.EndMeal" class="form-control" />
                <span asp-validation-for="Meal.EndMeal" class="text-danger"></span>
            </div>
           @* @foreach ()
            {
                <div class="form-group">
                <label asp-for="Meal.Foodmeals" class="control-label"></label>
                <input asp-for="Meal.Foodmeals" class="form-control" />
                <span asp-validation-for="Meal.Foodmeals" class="text-danger"></span>
            </div>
            }*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
