@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <hr />
    <hr />
    <p>Eat To Beat Disease is the APP that will help your body heal itself, everyday!</p>
    
    <p>Based on the book written by William W. Li, MD, "Eat to Beat Disease." </p>
    <p>"Each of us has an enormous opportunity to take charge of our lives using food to transform our health. You can make decisions about what to eat and drink based on scientific evidence gleaned from testing foods with the same systems and methods that have been used to discover and develop drugs. The data generated when we study food like medicine clearly show that food can influence our health in specific and beneficial ways.(...)"</p>
    <p>"This book was written to give you the knowledge and tools to make better decisions when you choose what to eat every day. It is intended to help you live longer by eating foods that you actually like."</p>
    <hr />
    <hr />
    <p><em class="h5">Feel free to Register and start your daily fight against disease!</em></p>
    <hr />
</div>
