@page
@model FoodTracker_APP.Pages.MyDashboard.MyDashboardModel
@{
	ViewData["Title"] = "Dashboard";
}

<h4>Dashboard!</h4>

<dl class="row">
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.CountUsers)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CountUsers)
			</dd>
			</dl>

<dl class="row">
     <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.CountMeals)
         </dt>
         <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountMeals)
        </dd>
        </dl>