@page
@model FoodTracker_APP.Pages.MyDashboard.MyDashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h4>Dashboard!</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountUsers)
            </th>                
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(model => model.CountUsers)
            </td>           
            
        </tr>

    </tbody>
</table>
